// Ad
.slider{
    width: 100vw;
    height: 90vh;
}
.box-slider{
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.adImg{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.cat-descr{
    position: absolute;
    top: 30%;
    left:50%;
    transform:translate(-50%,-50%);
    // Fonts
    width:100%;
    text-align: center;
    padding: 0px 50px;
    font-size: 52px;
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    // Colors
    color: rgb(255, 24, 24);
}
.cat-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: fit-content;
    border:none;
    border-bottom: 10px solid #ff6a6a;
    border-radius: 2.4mm;

    padding: 5px 90px;

    font-size: 40px;
    background-color: rgb(219, 161, 170);
    color: white;



    transition: 0.4s;
    cursor: pointer;
    &:hover{
        padding: 5px 100px;
        background-color: rgb(255, 185, 197);
        border-bottom: 15px solid #ff6a6a;
    }
    &:active{
        border-bottom: 2px solid #ff6a6a;
    }
}


































// MainContent
.mainContent{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;

    width: 70%;
    height: min-content;
    border-radius: 2.4mm;

    padding: 10px 0px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}
.main-box{
    width: 100%;
    height: min-content;
    border: 2px solid pink;
    border-radius:2.4mm;
}
.main-box-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}